<?xml version="1.0" encoding="utf-8"?>

<!--
  Pour plus d'informations sur la configuration de votre application ASP.NET, consultez
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="THYP_ConnectionString" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=THYP_2014_MagazineNumerique;Persist Security Info=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
    <system.web>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.5.1" />
      <httpRuntime targetFramework="4.5.1" />
      <!-- Configure the Sql Membership Provider -->
      <membership defaultProvider="SqlMembershipProvider" userIsOnlineTimeWindow="15">
        <providers>
          <clear />
          <add
            name="SqlMembershipProvider"
            type="System.Web.Security.SqlMembershipProvider"
            connectionStringName="THYP_ConnectionString"
            applicationName="MembershipAndRoleProviderSample"
            enablePasswordRetrieval="false"
            enablePasswordReset="false"
            requiresQuestionAndAnswer="false"
            requiresUniqueEmail="true"
            passwordFormat="Hashed" />
        </providers>
      </membership>
    </system.web>
</configuration>
