<?xml version="1.0" encoding="utf-8"?>

<!--
  Pour plus d'informations sur la configuration de votre application ASP.NET, consultez
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="THYP_ConnectionString" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=THYP_2014_MagazineNumerique;Persist Security Info=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
    <system.web>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.5.1" />
      <httpRuntime targetFramework="4.5.1" />
      <!-- Configure the Sql Membership Provider -->
      <membership defaultProvider="SqlMembershipProvider" userIsOnlineTimeWindow="15">
        <providers>
          <clear />
          <add
            name="SqlMembershipProvider"
            type="System.Web.Security.SqlMembershipProvider"
            connectionStringName="THYP_ConnectionString"
            applicationName="MembershipAndRoleProviderSample"
            enablePasswordRetrieval="true"
            enablePasswordReset="false"
            requiresQuestionAndAnswer="false"
            requiresUniqueEmail="true"
            passwordFormat="Encrypted" />
        </providers>
      </membership>
      <machineKey validationKey="79F090DBAF6E49C2C797F69BBAAD8402ABD2EE049725AB249A7DD4374267A75D7AD9ABCB9485AEFF26927461DBD1DC347C1A63AE5F1CCFAACFF1B72A7F0A281B" decryptionKey="ABAA84D7EC4BB56D75D217CECFFB9628809BDB8BF91CFCD64568A145BE59719F" validation="SHA1" decryption="AES" />
    </system.web>
    <system.webServer>
      <modules>
        <add name="CuteWebUI.UploadModule" type="CuteWebUI.UploadModule,CuteWebUI.AjaxUploader"/>
      </modules>
    </system.webServer>
    <appSettings>
      <add key="CuteWebUI.AjaxUploader.TempDirectory" value="~/Articles/UploaderTemp"/>
      <add key="CuteWebUI.AjaxUploader.GlobalMaxSizeKB" value="1000"/>
    </appSettings>
</configuration>
